body {
    background-color: green;
    color: white;
}

#main-title{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: black;
    padding: 5px; 
    background-color: yellow;
    width: 100%;
    ;
}

#title2 {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 5px; 
    width: 100%;
    ;
}
.cities-title {
    font-weight: bold;
    font-size: 40px;
    color: black;
    width: 400px;
    background-color: yellow;
    border-radius: 50px;
    text-align: center;
}

.cities {
    font-size:18px;
}

a{
    color: mintcream;
}

#footer{
    font-size: 20px;
    text-align: right;
    gap: 30px;
}

#footer2{
    font-size: 20px;
    text-align: left;
}

.content{
    font-size: 25px;
}

#other-countries {
    background-color: lightgray;
    padding: 0%;
    color: black;
}

#other-countries ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

#other-countries a {
    color: blue;
}

#cities ol{
    font-size: 20px;
    display: flex;
    list-style-position: inside;
    flex-wrap: wrap;
    gap: 80px;
}

#cities img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 300px;
}

.External-Links ul{
    display: flex;
    gap:10px;
    flex-direction: column;
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  #main-title, #title2{
    font-size:40px;
  }
  .cities-title{
    font-size: 20px;
  }
  .content{
    font-size: 15px;
  }
    #cities ol{
    flex-direction: column;
    gap:40px;
  }
  #other-countries ul{
    flex-direction: column;
    align-items: center;
  }
}