body {
    background-color: green;
    color: white;
}

#main-title{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: black;
    padding: 5px; 
    background-color: yellow;
    width: 100%;
    ;
}

#title2 {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 5px; 
    width: 100%;
    ;
}
.cities-title {
    font-weight: bold;
    font-size: 40px;
    color: black;
    width: 400px;
    background-color: yellow;
    border-radius: 50px;
    text-align: center;
}

.cities {
    font-size:18px;
}

a{
    color:cyan;
}

#footer{
    font-size: 20px;
    text-align: right;
}

#footer2{
    font-size: 20px;
    text-align: left;
}

.content{
    font-size: 25px;
}